$container-xs: 360px !default;
$container-sm: 480px !default;
$container-md: 640px !default;
$container-lg: 960px !default;
$container-xl: 1200px !default;
$container-2xl: 1440px !default;

$listOfContainers: (
        'xs': $container-xs,
        'sm': $container-sm,
        'md': $container-md,
        'lg': $container-lg,
        'xl': $container-xl,
        '2xl': $container-xl,
);
