$content-sm: 480px !default;
$content-sm-rem: 30rem !default;
$content-md: 720px !default;
$content-md-rem: 45rem !default;
$content-lg: 960px !default;
$content-lg-rem: 60rem !default;
$content-xl: 1200px !default;
$content-xl-rem: 75rem !default;
$content-2xl: 1440px !default;
$content-2xl-rem: 90rem !default;
$content-3xl: 1680px !default;
$content-3xl-rem: 105rem !default;
